@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.btn {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 0;
  background-color: $primary;
  color: white;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: rgba(6, 118, 204, 0.8);
  }
}

.btn-secondary {
  background-color: $accent;

  &:hover,
  &:focus-visible {
    background-color: rgba(175, 197, 213, 0.8);
  }
}

.btn-round {
  border: 0;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1 / 1;

  &:hover,
  &:focus-visible {
    background-color: rgba(202, 202, 202, 0.5);
  }
}

.input {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.logo {
  min-width: 400px;
}

.icon {
  font-size: 50px;
  min-width: 20px;
  max-width: 40px;
}
