@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.add {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  border: 0;
  background-color: #fff;
  cursor: pointer;

  &-icon {
    font-size: 50px;
    min-width: 50px;
  }

  &:hover,
  &:focus-visible {
    background-color: #cacaca;
  }
}

.color:nth-child(odd) {
  background-color: $secondary;
}

.color:last-child {
  border-bottom: 1px solid $accent;
}
